celery==5.6.2
celery-progress==0.5
crispy-bootstrap4==2025.6
Django==6.0.1
django-autoslug==1.9.9
django-crispy-forms==2.5
mod_wsgi==5.0.2
mysqlclient==2.2.7
pillow==12.1.0
pip-check-updates==0.28.0
python-dateutil==2.9.0.post0
pytz==2025.2
redis==7.1.0
requests==2.32.5
setuptools==80.9.0
six==1.17.0
sorl-thumbnail>=12.4,<13.0
tzdata==2025.3
urllib3==2.6.3
python-xmp-toolkit==2.1.0
reportlab==4.4.7
typing-inspection==0.4.2
typing_extensions==4.15.0
