{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block content %}

{% if album.has_cover %}
	<img src="{{ album|get_cover:150 }}" class="img-thumbnail album-cover"/>
{% endif %}

<h2>{{ album.title }} [ {{ album.name }} ]</h2>

<form method="get" action="{% url 'photo_update_tags' album.id %}">
<input type="submit" value="{% trans 'Update selected' %}"/>

<div class="row-fluid">
{% for p in photos %}
	{% include 'photo/includes/photo.html' %}
{% endfor %}
</div>

</form>

{% endblock %}