{% extends "base.html" %}
{% load admin_urls %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head_title %}
{{ album.title }}
{% endblock extra_head_title %}

{% block content %}

{% if album.has_cover %}
	<img src="{{ album|get_cover:150 }}" class="img-thumbnail album-cover"/>
{% endif %}

<h2>{{ album.title }} - {{ album.name }}</h2>

<p>
	<a href="{% url 'admin:photo_album_change' album.id %}" target="_blank">{% trans 'Edit' %}</a> |
	<a href="{% url 'photo_album_exif' album.id %}">{% trans 'Rewrite Exif' %}</a>
</p>

<form method="get" action="{% url 'photo_update_tags' %}">
<input type="submit" value="{% trans 'Update selected' %}"/>
<input type="button" value="{% trans 'Select all' %}" onclick="selectall()"/>
<input type="hidden" value="{{ request.path }}" name="next"/>

{% include 'includes/pagination.html' %}
<div class="row-fluid">
{% for p in page.object_list %}
	{% include 'photo/includes/photo.html' %}
{% endfor %}
</div>

</form>
<div style="clear:both"></div>
{% include 'includes/pagination.html' %}

{% endblock %}