{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
{% trans 'Edit Photo' %}
{% endblock extra_head_title %}


{% block extra_scripts %}
	<script type="text/javascript">
		{% include "includes/init-date-picker-js.html" %}
	</script>
{% endblock extra_scripts %}

{% block extra_body %}
		onload="setUpDatePicker();"
{% endblock extra_body %}
	
{% block content %}
<h1>{{ title }}</h1>

<a href="{% url 'photo:album' photo.album.id %}">{{ photo.album.name }}</a><br/>

{% thumbnail photo.get_full_url "300" as thumb %}
	<img src="{{ thumb.url }}" alt="{% if photo.caption %}{{ photo.caption }}{% endif %}" class="img-thumbnail">
{% endthumbnail %}

<br/>{{ photo.file }}

{% crispy form %}

<a href="{% url 'admin:photo_photo_delete' photo.id %}">{% trans 'delete' %}</a>

{% endblock %}
