{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
{% trans 'Edit Photo' %}
{% endblock extra_head_title %}


{% block extra_scripts %}
	<script type="text/javascript">
		{% include "includes/init-date-picker-js.html" %}
	</script>
{% endblock extra_scripts %}

{% block extra_body %}
		onload="setUpDatePicker();"
{% endblock extra_body %}
	
{% block content %}
<h1>{{ title }}</h1>

<a href="{% url 'photo_album' photo.album.id %}">{{ photo.album.name }}</a><br/>
<img src="{{ photo|get_thumbnail:500 }}" class="img-thumbnail" alt="{{ photo.file }}" title="{{ photo.file }}"/>
<br/>{{ photo.file }}

{% crispy form %}

<a href="{% url 'admin:photo_photo_delete' photo.id %}">{% trans 'delete' %}</a>

{% endblock %}
