{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block extra_scripts %}
	<script type="text/javascript">
		{% include "includes/init-date-picker-js.html" %}
	</script>
{% endblock extra_scripts %}

{% block extra_body %}
		onload="setUpDatePicker();"
{% endblock extra_body %}
	
{% block content %}
<h1>{{ title }}</h1>

<img src="{{ photo|get_thumbnail:250 }}" class="img-thumbnail" alt="{{ photo.file }}" title="{{ photo.file }}"/>
<br/>{{ photo.file }}

{% crispy form %}

{% endblock %}
