{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block extra_head_title %}
{% trans 'Favourites' %}
{% endblock extra_head_title %}

{% block content %}
    <h2>{% trans 'Favourites' %}</h2>

	{% include 'includes/pagination.html' %}
       
    {% for p in page.object_list %}
    		{% include 'photo/includes/photo.html' %}
    {% empty %}
        <p>No results found.</p>
    {% endfor %}

    {% include 'includes/pagination.html' %}

{% endblock %}