{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load admin_urls %}

{% block extra_head_title %}
{% trans 'Photo Database' %}
{% endblock extra_head_title %}

{% block content %}

<h1>Photo Database Home</h1>

{% for y in years %}
	<a href="{% url 'photo:tag_slug' y.slug %}">{{ y.name }}</a>
{% endfor %}

{% include 'includes/pagination.html' %}

<div class="table-responsive">
      <table class="table table-bordered table-hover">
{% for a in page.object_list %}
	<tr>
		<td>
		{% if a.has_cover %}
			<img src="{{ a|get_cover:250 }}" class="img-thumbnail"/>
		{% else %}
			<img src="{{ a|get_cover:250 }}" class="img-thumbnail faded"/>
		{% endif %}
		<br/>
			<small>{{ a.max_date }}</small>
		</td>
		<td><b>{{ a.title }}</b><br/>
			{{ a.date_display }} <br/>
			<a href="{% url 'admin:photo_album_change' a.id %}" target="_blank">{% trans 'Edit' %}</a>
			| <a href="{% url 'photo:export_pdf' a.id %}" target="_blank">{% trans 'Export PDF' %}</a><br/>
			{{ a.get_count }} photos
		</td>
		<td><a href="{% url 'photo:album' a.id %}">{{ a.name }}</a></td>
	</tr>
{% endfor %}
	</table>
</div>

{% include 'includes/pagination.html' %}

{% endblock %}
