{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head_title %}
{% trans 'Map' %}
{% endblock extra_head_title %}


{% block extra_styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin="anonymous"/>
{% endblock extra_styles %}

{% block extra_scripts %}
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="anonymous"></script>
 <script src="{% static 'photo/map.js' %}"></script>
{% endblock extra_scripts %}

{% block content %}

<h2>{{ title }}</h2>

{% for source in sources %}
    <a href="{% url 'photo:map' %}?source={{ source }}">{{ source }}</a>
{% endfor %}

<div id='mapid' style="width:100%; height:700px"></div>

{{ map_markers|json_script:"map-markers-data" }}
<script>
    initPhotoMap('map-markers-data', {
        viewPhotos: "{% trans 'View photos' %}",
        editTag: "{% trans 'Edit tag' %}"
    });
</script>

{% endblock %}