{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head_title %}
{% for t in tags %}
{{ t.name }}
{% endfor %}
{% endblock extra_head_title %}


{% block content %}

<h2>{% for t in tags %}{{ t.name }}&nbsp;{% endfor %}</h2>

[{% for t in tags %}
<a href="{% url 'admin:photo_tag_change' t.id %}">{% trans 'Edit' %} {{t.name}}</a>
{% endfor %}]

<form method="get" action="{% url 'photo:update_tags' %}">
<input type="submit" value="{% trans 'Update selected' %}"/>
<input type="button" value="{% trans 'Select all' %}" onclick="selectall()"/>
<input type="button" value="{% trans 'Select none' %}" onclick="selectnone()"/>
<input type="hidden" value="{{ request.path }}" name="next"/>

{% include 'includes/pagination.html' %}

<div class="row-fluid">
{% for p in page.object_list %}
	{% include 'photo/includes/photo.html' %}
{% endfor %}
</div>

</form>

<div style="clear:both"></div>
{% include 'includes/pagination.html' %}


{% endblock %}