{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head_title %}
{{ tag.name }}
{% endblock extra_head_title %}


{% block content %}

<h2>{{ tag.name }}</h2>

[<a href="{% url 'admin:photo_tag_change' tag.id %}">{% trans 'Edit tag' %}</a>]

<form method="get" action="{% url 'photo_update_tags' %}">
<input type="submit" value="{% trans 'Update selected' %}"/>
<input type="button" value="{% trans 'Select all' %}" onclick="selectall()"/>
<input type="button" value="{% trans 'Select none' %}" onclick="selectnone()"/>
<input type="hidden" value="{{ request.path }}" name="next"/>

{% include 'includes/pagination.html' %}

<div class="row-fluid">
{% for p in page.object_list %}
	{% include 'photo/includes/photo.html' %}
{% endfor %}
</div>

</form>

<div style="clear:both"></div>
{% include 'includes/pagination.html' %}


{% endblock %}