{% load i18n %}
{% load thumbnail %}
{% load props %}
{% load admin_urls %}

<div class="photo">
	<a href="{% url 'photo_view' p.id %}" target="_blank"><img src="{{ p|get_thumbnail:250 }}" class="img-thumbnail" alt="{{ p.file }}" title="{{ p.file }}"/></a><br/>
	{% if p.title %}
		{{ p.title }}<br/>
	{% endif %}
	<small>{{ p.file }}</small><br/>
	<small>{{ p.date }}</small><br/>
	{% if p|get_photo_prop:'favourite' == 'true' %} 
		<a href="{% url 'photo_unstar' p.id %}" class="fav-star" >&starf;</a>
	{% else %}
		<a href="{% url 'photo_star' p.id %}" class="fav-star" >&star;</a>
	{% endif %}
	{% for pt in p.tags.all %}
		<a href="{% url 'photo_tag_slug' pt.slug %}" class="tag">{{ pt.name }}</a>
	{% endfor %}
	<br/>
	<a href="{% url 'photo_edit' p.id %}">{% trans 'edit' %}</a> 
	(<a href="{% url 'admin:photo_photo_change' p.id %}" target="_blank">+</a>)
	{% if p.album_cover is False %}
	| <a href="{% url 'photo_set_cover' p.id %}">{% trans 'set cover' %}</a>
	{% endif %}
	| <a href="{% url 'admin:photo_photo_delete' p.id %}" target="_blank">{% trans 'delete' %}</a> <br/>
	<a href="{% url 'photo_album' p.album.id %}">{{ p.album.name }}</a>
	<input type="checkbox" id="photo_id" name="photo_id" value="{{ p.id }}"/>
</div>